$background-color: transparent;
$font-color: #fff;
$border-color: rgba(0, 0, 0, 0.3);
$font-size: 28px;
$padding: 30px;
$title-padding: 0 3px 3px 3px;

.app {
  max-width: 400px;
  margin: 0 auto;

  > header {
    color: $font-color;
    background-color: $background-color;
    padding: $padding;
    text-align: center;
    border-bottom: 1px solid $border-color;
    
    > h1 {
      display: inline-block;
      margin: 0;
      padding: $title-padding;
      font-size: $font-size;
      font-weight: normal;
      text-transform: lowercase;
    }

    > .line {
      width: 0; 
      height: 0; 
      border-bottom: 4px solid transparent; 
      border-right: 120px solid #d44; 
      margin: 0 auto;
    }
  }
}
