$font-color: #fff;
$background-color: rgba(0, 0, 0, 0.2);
$border-color: rgba(0, 0, 0, 0.2);
$background-color-active: #d44;
$spinner-color: #d44;

$font-size: 16px;
$icon-size: 24px;
$spinner-size: 42px;
$spinner-border-size: 3px;

$padding: 20px 22px 20px 14px;
$animation-duration: .5s;

.web-radio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $background-color;
  font-size: $font-size;
  color: $font-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: $padding;

  &:hover {
    cursor: pointer;
  }
  
  &.playing {
    background-color: $background-color-active;
    border-color: $background-color-active;
  }
  
  > h1 {
    margin: 0;
    font-weight: normal;
  }
  
  > .spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;

    > .spinner {
      box-sizing: border-box;
      position: absolute;
      width: $spinner-size;
      height: $spinner-size;
      border-radius: 50%;
      border: $spinner-border-size solid rgba(0, 0, 0, 0.2);
      border-top-color: $spinner-color;
      animation: spinner $animation-duration linear infinite;
    }
  }

  @keyframes spinner {
    to { transform: rotate(360deg); }
  }

  > .icon {
    font-size: $icon-size;
  }
}
