/**
 * Base setup.
 */

html {
  box-sizing: border-box; // Padding and border do not increase width and height of the rendered element.
  font-family: 'Cabin', sans-serif;
  height: 100%; // Occupy all vertical space by default.
  margin: 0;
  padding: 0;
  background-color: #137;
}

body, #root {
  height: inherit;
  margin: inherit;
  padding: inherit;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-size: inherit;
}
